
@font-face {
    font-family: 'Schibsted Grotesk', sans-serif;
    src:  url('../fonts/SchibstedGrotesk-Regular.woff') format('woff'),
    url('../fonts/SchibstedGrotesk-Regular.woff2') format('woff2')
}

body {
    font-family: 'Schibsted Grotesk', sans-serif;

}